#level-buttons {
    display: flex;
    flex-direction: column; /* Standaard onder elkaar */
    align-items: center; /* Centreer de kolommen in bredere weergaven */
}

.button-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: stretch; /* Zorg dat knoppen kolom vullen */
}

.button-column button {
    margin: 5px 0;
}

.button-row {
    display: flex;
    margin-top: 20px;
    align-items: stretch; /* Zorg dat knoppen rij vullen */
}

.button-row button {
    flex-grow: 1; /* Verdeel de ruimte gelijkmatig */
    margin: 0 5px;
}

/* Pas aan voor bredere schermen om kolommen naast elkaar te zetten */
@media (min-width: 600px) {
    #level-buttons {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: flex-start;
    }

    .button-column {
        margin-bottom: 0;
    }

    .button-row {
        margin-top: 20px;
        justify-content: center;
        width: 100%; /* Zorg dat de rij de breedte van de container inneemt */
    }
}

/* Stijl voor de hover tooltip */
.button-container {
    position: relative; /* Nodig voor absolute positionering van de tooltip */
    display: inline-block; /* Zodat de container de grootte van de knop aanneemt */
}

.tooltip {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Boven de knop plaatsen */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap; /* Voorkom dat de tekst ombreekt */
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

button:hover + .tooltip, .button-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}